.slider 
    h2.menu Menu
    .inner-menu 
       ul
        li 
            a(href= `${prefixAdmin}/dashboard`) Home 
        li 
            a(href=`${prefixAdmin}/products`) Product
        li
            a(href=`${prefixAdmin}/bin`) Recently Delete  